name: Preview
on:
  push:
  pull_request:
    types: [opened, synchronize]
jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: r-lib/actions/setup-r@master
      - uses: r-lib/actions/setup-pandoc@v1
        with:
          pandoc-version: '2.10.1'
      - name: Install dependencies
        run: |
          Rscript -e 'install.packages(c("distill", "reticulate", "remotes", "dplyr", "data.table", "DT"))'
          Rscript -e 'remotes::install_github("hadley/emo")'
      - name: Install GNU parallel
        run: sudo DEBIAN_FRONTEND='noninteractive' apt-get -y install parallel
      - name: Build Site
        run: |
          rm -rf docs/
          mv _posts/2019-12-20-differential-privacy/differential_privacy.Rmd _posts/2019-12-20-differential-privacy/differential_privacy_2019.Rmd
          Rscript -e 'rmarkdown::render_site()'
          find _posts -type f -name '*.Rmd' -print0 | parallel -j 16 -k -0 Rscript --vanilla -e "'rmarkdown::render(commandArgs(trailingOnly=TRUE)[[1]])'" '{}' '2>&1'
      - name: Deploy to GitHub
        uses: s0/git-publish-subdir-action@develop
        if: github.ref == 'refs/heads/master'
        env:
          REPO: self
          BRANCH: docs
          FOLDER: docs
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Deploy to Netlify
        uses: nwtgck/actions-netlify@v1.1
        with:
          publish-dir: './docs'
          production-branch: master
          github-token: ${{ secrets.GITHUB_TOKEN }}
          deploy-message: "Deploy from GitHub Actions"
          enable-pull-request-comment: false
          enable-commit-comment: true
          overwrites-pull-request-comment: true
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
        timeout-minutes: 3
      - name: Prepare Preview Directory
        if: github.ref != 'refs/heads/master'
        run: |
          rm -rf ai-blog-preview
          mkdir ai-blog-preview
          mv docs ai-blog-preview/ai-blog-preview
      - name: Upload Preview Directory as GitHub Artifact
        uses: actions/upload-artifact@v2
        if: github.ref != 'refs/heads/master'
        with:
          name: ai-blog-preview
          path: ai-blog-preview
  README:
    runs-on: ubuntu-18.04
    needs: build
    steps:
      - name: Please download and unzip the GitHub artifact named 'ai-blog-preview' to obtain a browsable preview of the site.
        run: |
          echo "Please download and unzip the GitHub artifact named 'ai-blog-preview' to obtain a browsable preview of the site."
